DEBUG = 
SECRET_KEY =
JWT_ACCESS_TOKEN_LIFETIME_HRS =
JWT_REFRESH_TOKEN_LIFETIME_HRS =
JWT_KEY =
PASSWORD_MIN_LENGTH =
THROTTLE_RATES_IN_DAYS =
SUPER_ADMIN_PASSWORD =
PROJECT_NAME =

# Upstash Vector Database Configuration
UPSTASH_VECTOR_REST_URL =
UPSTASH_VECTOR_REST_TOKEN =